/* ============================= */
/* FONTS */
/* ============================= */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* COLOR VARIABLES */
:root {
	--primary-color: #f2efeb;
	--secondary-color: #57585a;
	--tertiary-color: #a58868;
	--text-color: #333;
  --text-color-white: #666;
	--hover-color: #bc211d;
  --bg: #0f0f0f;

	--bg-input: #1a1a1a;
	--boder-input: #333;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Open Sans", "Fahkwang", sans-serif;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--bg);
}

.Home {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-backgrounds {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Home-backgrounds-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 1.8s ease, transform 3s ease;
}

.Home-backgrounds-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.Home-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1); /* ajuste de transparencia */
  z-index: 1;
}

.Home-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.Home-content-subtitle {
  color: var(--primary-color);
  font-size: 30px;
  opacity: 0;
  animation: fadeInDown 1s forwards;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.Home-content-title {
  color: var(--primary-color);
  font-size: 80px;
  font-family: "Italiana", serif;
  font-style: italic;
  opacity: 0;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-30px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* === RESPONSIVE === */
@media (min-width: 768px) {
  .subtitle { font-size: 1.8rem; }
  .title { font-size: 4.5rem; }
}
