/* ============================= */
/* FONTS */
/* ============================= */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* COLOR VARIABLES */
:root {
	--primary-color: #f2efeb;
	--secondary-color: #57585a;
	--tertiary-color: #a58868;
	--text-color: #333;
  --text-color-white: #666;
	--hover-color: #bc211d;
  --bg: #0f0f0f;

	--bg-input: #1a1a1a;
	--boder-input: #333;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
	font-family: "Fahkwang", sans-serif;
  font-style: normal;
	color: var(--hover-color);
	font-family: "Open Sans", sans-serif;
}

.Reservation {
	width: 100%;
	min-height: 88dvh;
	background-image: url(./images/Texture3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
	align-items: center;
  background-color: var(--bg);
}


.Reservation-wrapper {
	width: 80%;
  gap: 20px;
	display: flex;
  justify-content: space-evenly;
	align-items: flex-start;
}

.Reservation-contact {
  width: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}



.Reservation-contact-title {
	color: var(--primary-color);
	font-family: "Italiana", serif;
  font-size: 60px;
}

.Reservation-contact-subtitle {
	color: var(--primary-color);
	font-family: "Italiana", serif;
  font-size: 50px;
  font-style: italic;
	margin-bottom: 20px;
}

.Reservation-contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.Reservation-contact-label {
	color: var(--tertiary-color);
	font-size: 16px;
  margin-top: 20px;
}


.Reservation-contact-item-number{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: var(--primary-color);
	font-size: 24px;
}

.Reservation-contact-item-number img{
	width: 30px;

}

.Reservation-contact-item {
	color: var(--primary-color);
	font-size: 24px;
}









.Reservation-form {
	width: 700px;
  display: flex;
  flex-direction: column;
	align-items: flex-start;
  gap: 16px;
}

.Reservation-form-row {
	width: 100%;
  display: flex;
  gap: 16px;
}

.Reservation-form-row input,
.Reservation-form input,
.Reservation-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--boder-input);
  border-radius: 4px;
  background-color: var(--bg-input);
  color: var(--primary-color);
  font-size: 16px;
}

.Reservation-form textarea {
  resize: none;
  height: 200px;
}

.Reservation-form button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
	font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.Reservation-form button:hover {
  background-color: var(--tertiary-color);
}


@media (max-width: 1024px) {
  .Reservation-wrapper {
    flex-direction: column;
    width: 80%;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Reservation-contact {
    align-items: center;
  }

}

@media (max-width: 768px) {
  .Reservation-contact{
    width: 100%;
  }
  .Reservation-contact-title{
    font-size: 48px;
  }
  .Reservation-contact-subtitle{
    text-align: center;
    font-size: 40px;
  }
  .Reservation-form {
    width: 100%;
  }
  .Reservation-form-row {
    flex-direction: column;
  }


}

@media (max-width: 425px) {
  .Reservation-contact-info {
    width: 100%;
    align-items: center;
  }
  .Reservation-contact-info p {
    font-size: 1rem;
  }


}

