/* ============================= */
/* FONTS */
/* ============================= */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* COLOR VARIABLES */
:root {
  --primary-color: #f2efeb;
  --secondary-color: #57585a;
  --tertiary-color: #a58868;
  --text-color: #333;
  --text-color-white: #666;
  --hover-color: #bc211d;
  --bg: #0f0f0f;
}

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);

}

.Services {
  width: 100%;
  min-height: 100dvh;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: var(--bg);
  background-image: url(./images/Texture1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left bottom; 
}

.Services-title {
  text-align: center;
  font-family: "Italiana", serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  color: var(--primary-color);
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
  flex-wrap: wrap;
}

.service-container-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  box-shadow:
  0 10px 30px rgba(0, 0, 0, 0.65),
  0 0 0 1px rgba(255, 255, 255, 0.05);
}

.service-container-item img {
  width: 260px;
  height: 320px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.service-container-item h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--primary-color);
  background: rgba(0,0,0,0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.service-container-item:hover img {
  opacity: 0.4;
  scale: 1.05;
}





/* MODAL */
.Services-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Services-modal {
  background: var(--tertiary-color);
  display: flex;
  max-width: 70%;
  max-height: 70%;
  overflow: auto;
  border-radius: 12px;
  position: relative;
}

.Services-modal-image {
  width: 50%;
  object-fit: cover;
}

.Services-modal-close {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--bg);
  font-weight: bold;
  transition: all 0.5s ease-in-out,
}

.Services-modal-close:hover {
  scale: 1.2;
}

.Services-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  padding: 20px;
  width: 50%;
}

.Services-modal-content h2 {
  font-family: "Italiana", serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  color: var(--bg);
}

.Services-modal-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--bg);
}


@media (max-width: 425px) {
  .Services {
  padding: 100px 40px;

}
}

@media (max-width: 320px) {

.service-container-item h2 {
  max-width: 80%;
}
}